<table class="table table-striped table-condensed" style='width:600px; margin: 0 auto;'>
	<tr>
		<td><b>Short URL</b></td>
		<td><b>Long URL</b></td>
		<td><b>Clicks</b></td>
		<td><b>Referers</b></td>
		<td><b>Edit</b></td>
		<td><b>Delete</b></td>
	</tr>
	<% @urls.each do |url| %>
		<tr>
			<td><%= link_to 'localhost:3000/' + url.short_url, url.short_url %></td>
			<td><%= url.long_url %></td>
			<td><%= url.click_counter %></td>
			<td><%= link_to "Top Referers", url_referers_path(url) %>
			<td><%= link_to 'Edit', edit_url_path(url), :class => 'button submit', :style => 'padding:4px;margin-top:2px' %></td>
			<td><%= link_to 'Delete', url, :confirm =>  'Are you sure?', 
																		 :method => :delete %></td>
		</tr>
	<% end %>
</table>